include phylodeep/pca_a_priori/models/*
include phylodeep/pca_a_priori/scalers/*
include phylodeep/pca_a_priori/simulated_data/*
include phylodeep/pretrained_models/models/*
include phylodeep/pretrained_models/scalers/*
include README_PYPI.md
include LICENCE
include README.md